<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,PUT,DELETE,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\khaothi_2024_net_server.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_CONTENTROOT" value="C:\inetpub\vhosts\api.thongtinkhaothihcm.com\httpdocs" />
          <environmentVariable name="DOTNET_ADDITIONAL_DEPS" value="C:\inetpub\vhosts\api.thongtinkhaothihcm.com\httpdocs" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="Redirect to Swagger" stopProcessing="true">
            <match url="^$" />
            <action type="Redirect" url="/swagger/index.html" redirectType="Permanent" />
          </rule>
       
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <clear />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        </customHeaders>
      </httpProtocol>
      <modules runAllManagedModulesForAllRequests="true">
        <remove name="WebDAVModule" />
      </modules>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="30000000" />
          <verbs allowUnlisted="true">
            <add verb="OPTIONS" allowed="true" />
            <add verb="PUT" allowed="true" />
            <add verb="DELETE" allowed="true" />
          </verbs>
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
      <remove statusCode="400" />
      <error statusCode="400" path="/error_docs/bad_request.html" responseMode="File" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-599" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\api.thongtinkhaothihcm.com\tmp" />
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Server=103.77.166.169;Database=ngoaingusgd;MultipleActiveResultSets=true;User ID=whitemouse87;Password=Abc123!!!;TrustServerCertificate=True" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="configPath" value="C:\inetpub\vhosts\api.thongtinkhaothihcm.com\httpdocs\appsettings.Production.json" />
  </appSettings>
</configuration>