.page[b-qh6uac1aei] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qh6uac1aei] {
    flex: 1;
}

.sidebar[b-qh6uac1aei] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qh6uac1aei] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qh6uac1aei]  a, .top-row[b-qh6uac1aei]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-qh6uac1aei]  a:hover, .top-row[b-qh6uac1aei]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-qh6uac1aei]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .top-row .text-muted[b-qh6uac1aei] {
        font-size: 0.85rem;
        color: #6c757d;
    }

.login-layout[b-qh6uac1aei] {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 1rem;
}

article[b-qh6uac1aei] {
    padding: 1.5rem;
}

@media (max-width: 640.98px) {
    .top-row[b-qh6uac1aei] {
        justify-content: space-between;
    }

        .top-row[b-qh6uac1aei]  a, .top-row[b-qh6uac1aei]  .btn-link {
            margin-left: 0;
        }

        .top-row span[b-qh6uac1aei] {
            display: block;
            margin-bottom: 0.5rem;
        }
}

@media (min-width: 641px) {
    .page[b-qh6uac1aei] {
        flex-direction: row;
    }

    .sidebar[b-qh6uac1aei] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qh6uac1aei] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-qh6uac1aei]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-qh6uac1aei], article[b-qh6uac1aei] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

        .top-row span[b-qh6uac1aei] {
            margin-left: 1rem;
        }

    .login-layout[b-qh6uac1aei] {
        padding: 2rem;
    }
}

/* Style cho các thông tin user ở top-row */
.top-row span small[b-qh6uac1aei] {
    display: block;
    line-height: 1.2;
}

.top-row span[b-qh6uac1aei] {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
