.users-table .mud-table-container[b-lb85opyhdm] {
    border-radius: 0;
}

.users-table .mud-table-head[b-lb85opyhdm] {
    background-color: #f8f9fa;
}

    .users-table .mud-table-head .mud-table-cell[b-lb85opyhdm] {
        font-weight: 600;
        color: #495057;
    }

.users-table .mud-table-body .mud-table-row:hover[b-lb85opyhdm] {
    background-color: rgba(89, 74, 226, 0.04);
}
